* text eol=lf

# Denote all files that are truly binary and should not be modified
*.ttf binary
*.png binary
*.webp binary
*.woff binary

# Define languages for files
*.js linguist-language=JavaScript
*.jsx linguist-language=React
*.html linguist-language=HTML
*.css linguist-language=CSS